
include:
  - ../mynetwork/docker-compose.yml
  - ../mongo/docker-compose.yml
  - ../backend-tp-api/docker-compose.yml
  - ../my-app-ssr/docker-compose.yml        # angular frontend
  - ../myNginx/docker-compose.yml

